{% extends "usuarios/base_bootstrap.html" %}

{% block head %}
    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">

    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{% url 'usuariourl:home' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/img/logo.png" alt=""> -->
                <h1 style="color: #eec036">Compañía Cervecera de Zacatecas &nbsp;<span>AB InBev</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'usuariourl:home' %}">Inicio</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="{% url 'usuariourl:lista_colaboradores' %}">Colaboradores</a></li>
                    {% endif %}
                    <li class="dropdown"><a href="#"><span>Monitoreos de Seguridad</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{% url 'reportesapp:actosinseguros' %}">Actos Inseguros</a></li>
                            <li><a href="{% url 'reportesapp:actosseguros' %}">Actos Seguros</a></li>
                            <li><a href="{% url 'reportesapp:condicionesinseguras' %}">Condiciones Inseguras</a></li>
                            <li><a href="{% url 'reportesapp:incidentesmenores' %}">Incidentes Menores </a></li>

                            {% if request.user.is_staff %}
                                <li class="dropdown"><a href="#"><span>Descargar Reportes</span> <i
                                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                                    <ul>
                                        <li><a href="#">Descarga Actos Inseguros</a></li>
                                        <li><a href="#">Descarga Actos Seguros</a></li>
                                        <li><a href="#">Descarga Condiciones Inseguras</a></li>
                                        <li><a href="#">Descarga Incidentes Menores</a></li>
                                        <li><a href="#">Descarga Apego Asesores y Colaboradores</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            {% if request.user.groups.all.0.name == "colaborador" or request.user.is_staff %}
                                <a href="{% url 'usuariourl:verusuario' user.id %}"> {{ user.get_username }}</a>
                                <a href="{% url 'usuariourl:logout' %}?next={% url 'usuariourl:login' %}">- Cerrar
                                    sesión</a>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'usuariourl:login' %}?next={{ request.path }}">Iniciar
                                    sesión</a>
                            </li>
                        {% endif %}

                    </li>
                </ul>
            </nav><!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->
{% endblock head %}

{% block footer %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="col-md-12 col-sm-12 footer-info">
                <a href="{% url 'usuariourl:home' %}" class="logo ">
                    <span style="color: #eec036">Compañía Cervecera de Zacatecas &nbsp;</span>
                    <span style="color: #f96f59"> AB InBev</span>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-10 offset-sm-1" style="text-align: start">
            <p>
                <br>
                Blvd. Antonino Fernández Rodriguez 100, Centro, 98500 La Calera, Zac.<br>
                <strong>Teléfono:</strong> +52 478 985 4040<br>
            </p>
        </div>
        <div class="footer-links col-md-10" style="text-align: end">

            <i class="bi bi-envelope">
                <a href="mailto:alejandro.salcedo@ab-inbev.com" class="letrablanca">Contacta
                    al Encargado
                </a>
            </i>

        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Compañía Cervecera de Zacatecas</span></strong>. <br>Todos los Derechos
                Reservados
            </div>
            <!--<div class="credits">-->
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
            <!--</div>-->
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->
{% endblock footer %}