{% extends "home/../../../usuarios/templates/usuarios/base_paginas.html" %}
{% block title %}
    Actos Seguros
{% endblock title %}

{% load static %}
{% block content %}

    <div class="container">
    <br>

        <h3 class="modal-title" id="tituloacto">Descripción de Acto Seguro</h3>
        <form method="post">
            {% csrf_token %}
            <div class="jumbotron">
                <div class="form-group row">
                    {% for question in form %}
                        <label class="col-form-label">{{ question.label }}
                            <br>
                        </label>
                        <div class="col-md-12">
                            {{ question }}
                            <br>
                        </div>
                    {% endfor %}

                </div>
                <div class="text-center">
                            <br>
                            <button type="submit" class="btn btn-success">Realizar reporte</button>
                        </div>
            </div>
        </form>
    </div>


{% endblock content %}