{% extends "base_paginas.html" %}
{% block title %}
    Actos Inseguros
{% endblock title %}

{% load static %}
{% block content %}

    <div class="container">
    <br>
    <br>
        <h3 class="modal-title" id="tituloacto">Descripción de Acto Inseguro</h3>
        <form>
            <div class="jumbotron">
                <div class="form-group row">
                    {% for question in form %}
                        <label class="offset-md-1 col-md-4 col-form-label">{{ question.label }}
                            <br>
                            <small class="form-text text-muted">{{ question.help_text }}</small>
                        </label>
                        <div class="col-md-7">
                            {{ question }}
                            <br>
                        </div>
                    {% endfor %}

                </div>
                <div class="text-center">
                            <br>
                            <button type="submit" class="btn btn-success">Reportar</button>
                        </div>
            </div>
        </form>
    </div>


{% endblock content %}