{% extends "base_paginas.html" %}
{% block title %}
    Monitoreos de Seguridad
{% endblock %}

{% load static %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Monitoreos de <span>Seguridad</span></h2>
                    <p>Realiza cualquier monitoreo de seguridad de manera sencilla en la plataforma.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#actos" class="btn-get-started">Selecciona tu monitoreo</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{% static "img/hero-img.svg" %}" class="img-fluid" alt="" data-aos="zoom-out"
                         data-aos-delay="100">
                </div>
            </div>
        </div>

        <div class="icon-boxes position-relative" id="actos">
            <div class="container position-relative">
                <div class="row gy-4 mt-5">

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-shield-fill-x"></i></div>
                            <h4 class="title"><a href="{% url 'reportesapp:actosinseguros' %}" class="stretched-link">Actos
                                Inseguros</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-shield-fill-check"></i></div>
                            <h4 class="title"><a href="{% url 'reportesapp:actosseguros' %}" class="stretched-link">Actos
                                Seguros</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-exclamation-triangle-fill"></i></div>
                            <h4 class="title"><a href="{% url 'reportesapp:condicionesinseguras' %}"
                                                 class="stretched-link">Condiciones Inseguras</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-bandaid-fill"></i></div>
                            <h4 class="title"><a href="{% url 'reportesapp:incidentesmenores' %}"
                                                 class="stretched-link">Incidentes Menores</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- End Hero Section -->

    {% if request.user.is_staff %}
     <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Descargar Reportes Recabados</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-clipboard2-pulse"></i>
              </div>
              <h3>Actos Inseguros</h3>
              <p>Detectados por los colaboradores para informar Actos Inseguros</p>
              <a href="#" class="readmore stretched-link">Descargar <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clipboard2-heart-fill"></i>
              </div>
              <h3>Actos Seguros</h3>
              <p>Detectados por los colaboradores para informar Actos Seguros</p>
              <a href="#" class="readmore stretched-link">Descargar<i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clipboard2-x"></i>
              </div>
              <h3>Condiciones Inseguras</h3>
              <p>Condiciones detectadas como inseguras dentro del departamento de Medio Ambiente</p>
              <a href="#" class="readmore stretched-link">Descargar <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clipboard2-minus-fill"></i>
              </div>
              <h3>Incidentes Menores</h3>
              <p>Incidentes detectados en el departamento de Medio Ambiente</p>
              <a href="#" class="readmore stretched-link">Descargar <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Apego Asesores y Operadores</h3>
              <p>Generación para asesores y operadores</p>
              <a href="#" class="readmore stretched-link">Descargar <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->
    {% endif %}

    <main id="main">

    </main><!-- End #main -->


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->

    <script src="{% static 'js/main.js' %}"></script>



{% endblock content %}